body {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 40%;
  margin: 10% auto;
  background-color: aliceblue;
  padding: 3px;
}

.content {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 5px;
  margin: 1px 5px;
  background-color: #fff;
  pointer-events: all;
}

.icons{
   margin: auto 0;
 }

 .iconBtn,
 .btnToDo {
   border: 0;
   width: 30px;
   background-color: white;
   cursor: pointer;
 }

.flex-end {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 18px;
  font-weight: 400;
}

#addlist {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  width: 100%;
  padding: 10px 5px;
  margin: 1px 5px;
  background-color: #fff;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.task {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 5px;
  margin: 2px 5px;
  background-color: #fff;
}

.btn-clear {
  padding: 10px 5px;
  margin: 2px 5px;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.not-completed {
  text-decoration: none;
}

.check-box {
  cursor: pointer;
}

p {
  margin: 0;
}
